@if(Request.IsAuthenticated) {
    <text>Xin chào <strong>@User.Identity.Name</strong>!
    [@* @Html.ActionLink("Đăng xuất", "LogOut", "Account")*@ 
<a href="/logout.ashx" >Đăng xuất</a>
]</text>
}
else {
    @:[ <a href="/login.ashx" >Đăng nhập</a> ]
}
